[2015-12-20 08:42] pawelgrzybek opened #3 "Atom craches on save"
Hello.

Version of Atom: 1.3.2
linter-sass-lint version: 0.5.0

My settings
[code]

Basically I try to use use globally installed version of sass-lint and global dotfile with settings.

Editor crashes on save. When plugin is disabled Atom saves files with no issue. Linter doesnt work before saving attempt. Any ideas, any updates expected?

[2015-12-20 09:50] pawelgrzybek commented on #3
Passing executablePath causes crash. configPath works fine.

[2015-12-21 02:34] Arcanemagus commented on #3
Looks like unlike other linters this uses `executablePath` as the path to the folder where `sass-lint` is installed (the `node_modules\sass-lint` folder), can you try putting that in there?

[2015-12-21 04:59] steelbrain commented on #3
A README clarification for this would be nice

[2015-12-21 13:34] DanPurdy commented on #3
The plugin pulls down the latest version of sass-lint as a dependency when you install it so the executable path is only needed if you want to use an older version or custom version of sass-lint itself. I imagined it would be a way to prevent the issues people have with installing other dependencies for linter plugins but maybe not! :stuck_out_tongue:

I'll update the README and the field descript

[2015-12-21 14:15] DanPurdy commented on #3
Also be careful not to point it to an alias of your globally installed package, that it seems will most definitely crash it.

I don't interface with sass-lints CLI here I am directly calling methods there, maybe I should rename `executable-path` to something else as orignally it was the CLI and it's just not had a name update I guess.

[2015-12-21 17:58] Arcanemagus opened #5 "Greenkeeper enabled"
@DanPurdy Just wanted to let you know that I enabled [greenkeeper.io](http://greenkeeper.io/) on this repository, so you should get a PR when either of the following conditions are met:

* A dependency updates to a version not covered by your current allowed range (Ie `v4.0.0` when you allow `^3.0.0`)
* A dependency updates to a new version but greenkeeper is unable to verify that the version work

[2015-12-21 17:58] #5 closed

[2015-12-21 18:10] Arcanemagus commented on #3
@DanPurdy you might check out how linter-eslint handles it since it is in a similar situation. It's a mess though handling using custom ones properly.

[2015-12-22 09:10] pawelgrzybek commented on #3
Maybe consider and option (checkbox) like 'Use globally installed sass-lint'. Thanks for all advices and keep on doing good work man! I like your plugin, helps a lot!

[2015-12-22 09:35] DanPurdy commented on #3
I'm sort of leaning that way, the main reason it's there is sort of a selfish one as it's easier for me to debug unreleased sass-lint versions directly in atom rather than trawling through AST trees by other means. Though `npm-link` will solve that for me so I'll possibly add it to the next version.

[2015-12-22 16:55] pawelgrzybek commented on #3
That would be awesome :) Thanks!

[2015-12-23 19:40] hellobrian opened #9 "TypeError: Cannot read property 'start' of undefined at processNode"
I'm using linter-sass-lint on Atom.
I have `linter@1.11.3` and `linter-sass-lint@0.6.2` in my atom packages.

I'm getting these errors every time I save.

Let me know if there's anymore information I can provide you to better resolve this issue.
(Error message is truncated for brevity).

[code]

[2015-12-23 19:57] Arcanemagus commented on #9
This looks to be an issue with `sass-lint` and not this package, does it work for you on that file from the command line?

[2015-12-23 20:45] hellobrian commented on #9
No, it doesn't work in command line or gulp plugin either -- errors are consistent:

[code]

I'll file an issue on the sass-lint repo if one isn't open already.

[2015-12-23 21:00] hellobrian commented on #9
FYI for anyone who needs further direction on this same bug, please refer to https://github.com/sasstools/sass-lint/issues/389.

sass-lint will error out because of the `indentation` rule when there's a mix of tabs and spaces in your scss file.

I fixed my error by converting my tabs to spaces using an atom plugin called [whitespace](https://github.com/atom/whitespace)

[2015-12-23 21:00] #9 closed

[2015-12-23 21:09] Arcanemagus commented on #9
I use that almost every day running through old code, thanks for linking out to the issue you filed!

[2015-12-23 22:57] DanPurdy commented on #9
Yeah sorry, the AST we are currently using on `sass-lint` has patchy support for tabs at the moment, it's fixed in the latest upstream version but there's been some nasty regressions that we're hoping to see resolved soon and then we'll be able to upgrade. The indentation rule is then due for an overhaul as it's a little flaky at the moment and doesn't handle different line endings correctly.

Tha

[2016-01-08 15:59] zslabs opened #11 "Lint as you type"
Right now, this linter does not lint as I type; it only lints after a save. This is different than how most other Atom Linters work. I'm not seeing a setting for this behavior; is this intended? Thanks.

[2016-01-08 17:09] Arcanemagus commented on #11
It's the way this linter is currently written at least. Does `sass-lint` support linting input from stdin?

[2016-01-08 17:32] DanPurdy commented on #11
Hi @zslabs sorry I meant to reply here after closing your issue on the sass-lint repo. It is technically possible to do it but at the time I built this plugin originally `sass-lint` was fairly young and a little unstable. The AST we use also throws parse errors quite frequently which sass-lint currently isn't handling 'well' I've got a [PR](https://github.com/sasstools/sass-lint/pull/459) open to

[2016-01-08 18:57] zslabs commented on #11
Appreciate the update @DanPurdy! Do prefer this to the other `scss-lint` lib for Atom and think this feature would be a great addition.

[2016-01-21 15:22] CitizenXC opened #12 "TypeError: Cannot read property 'toString' of undefined at module.exports"
Using Atom 1.4.0 on OSX 10.10.5.  When I save a scss.erb file I get the following error every time:
[code]

[2016-01-21 17:05] Arcanemagus commented on #12
Does `sass-lint` work on that file from the terminal?

[2016-01-21 19:17] souzavitor opened #13 "Interpolation: #{} problems in property names"
The plugin says: "Please check the validity of the block" when using an interpolation "#{}" in property names.
**Example:**
[code]

[2016-01-21 19:20] steelbrain commented on #13
If I had to guess, it's a bug in [`sass-lint`](https://github.com/sasstools/sass-lint)

Thoughts @DanPurdy?

[2016-01-21 23:33] Arcanemagus commented on #13
Does it show the same message when calling `sass-lint` from a terminal?

[2016-01-22 01:31] DanPurdy commented on #13
Yeah, it's a big problem we're facing in sass-lint at the moment, the AST we're using throws parse errors at interpolation.. You can see similar issues [here](https://github.com/sasstools/sass-lint/issues/321). Sorry!

[2016-01-22 01:31] #13 closed

[2016-01-22 01:42] DanPurdy commented on #12
Hi @CitizenXC could you please provide a little more information such as plugin version and sass-lint version being used and also even show the contents of that file and a screenshot of your project structure/tree. The plugin shouldn't be running against erb files and sass-lint relies on the scss or sass extensions to a file determine what style of Sass it should be parsing..

If you could provide

[2016-01-22 15:28] CitizenXC commented on #12
0.6.3

The erb file in question is a rails stylesheet named [project].scss.erb

[code]

-OverProject
--core
--engines
--products
---product
----app
-----assets
------stylesheets
(this is the best I can do w/ company restrictions)

[2016-01-22 15:29] CitizenXC commented on #12
Sorry, noob mistake "closing" the ticket.

[2016-01-22 18:50] DanPurdy commented on #12
No problem :)

[2016-01-22 19:44] CitizenXC commented on #12
I didn't mean to close it, but rails compiles scss.erb into css FWIW

[2016-01-22 20:03] DanPurdy commented on #12
Yeah of course but we don't parse ruby files with sass-lint we only parse scss and sass extension files.. Our AST will just throw parse errors all over a ruby file, it also relies on the file extension to work out if it's parsing scss or sass formats currently too so it's something that even this plugin wouldn't be able to solve.. I'll have a look into it anyway..

[2016-01-23 01:48] #11 closed

[2016-01-23 02:48] DanPurdy commented on #12
Yep, so it looks like you must of specifically told it to include `.erb` files in your config file as wouldn't lint against them otherwise unfortunately the error is thrown because `sass-lint` was never designed to lint a ruby format file even if it is just plain `scss` or `Sass`. If you'd like to see this change then it'd be worth opening a issue/request with `sass-lint` [directly](https://github

[2016-01-23 02:48] #12 closed

[2016-01-23 02:56] DanPurdy opened #16 "Extra tests"
Need to write some extra tests to test the new ignoring files functionality added for the impending 1.0.0 release

[2016-01-23 15:19] #16 closed

[2016-01-23 21:05] #3 closed

[2016-01-25 23:16] ChristopherNowlan opened #22 "Style lint issue"
Error: Parsing error at /Users/christophernowlan/Documents/Folio:SelfBranding/website/build/assets/scss/config/_variables.scss: Please check validity of the block starting from line #196 at module.exports (/Users/christophernowlan/.atom/packages/linter-sass-lint/node_modules/sass-lint/lib/groot.js:21:11) at Function.sassLint.lintText (/Users/christophernowlan/.atom/packages/linter-sass-lint/node_m

[2016-01-25 23:20] Arcanemagus commented on #22
This looks like an issue with `sass-lint` itself, do you see the same stack when you run that from the terminal?

[2016-01-25 23:28] DanPurdy commented on #22
Hey @ChristopherNowlan can you check what version of `linter-sass-lint` you're running, these parse errors are indeed created by the AST that sass-lint is using BUT the latest version of this plugin should be registering them as lint errors rather than full blown errors as you can see here

<img width="461" alt="screen shot 2016-01-25 at 23 24 32" src="https://cloud.githubusercontent.com/assets/13

[2016-01-25 23:36] ChristopherNowlan commented on #22
Hey @DanPurdy I am using v1.0.2. I am using it with Atom. I do think it is some invalid sass/scss as well.

[2016-01-25 23:36] ChristopherNowlan commented on #22
// Container widths
// ==============================================
* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
// Set the container width, and override it for fixed navbars in media queries.
// ==============================================
.container {
  @include make-container();
  // For each breakpoint, define the maximum width of the container in

[2016-01-26 08:12] DanPurdy commented on #22
Hmm, that parses fine for me..

<img width="1533" alt="screen shot 2016-01-26 at 08 10 31" src="https://cloud.githubusercontent.com/assets/1386054/12575438/5fb62a92-c404-11e5-86a0-1a64d29a2332.png">

Are you using hard tabs? The AST sometimes chokes on tabs too as ridiculous as that sounds. Other than that the only thing i can think about is that you're using an old globally installed version of s

[2016-01-26 11:23] DanPurdy commented on #22
I think this may be related to the change in #23 after all I just witnessed it first hand. Update will be out soon

[2016-01-28 10:27] DanPurdy commented on #22
I'm going to close this as it's definitely an issue with sass-lint itself. I've removed the annoying pop up errors for now and transformed to lint errors, I'll be improving this soon though.

[2016-01-28 10:27] #22 closed

[2016-01-28 17:05] hellobrian opened #24 "Version 1.0.0 and higher doesn't work"
Since updating to version 1.0.0 and higher of `linter-sass-lint`, atom doesn't seem to fir off any notifications when I break rules declared in my `.sass-lint.yml`

So I reverted back to using `linter-sass-lint@0.6.3`

[code]

I also made sure that I'm including the correct paths to my scss files.
Here's a gist of my [`.sass-lint.yml`](https://gist.github.com/hellobrian/ea3a65e8dd3ce8dbd0b4) for r

[2016-01-28 17:09] DanPurdy commented on #24
It definitely does work! :smile:

Have you configured the new options that are included? Is your .sass-lint.yml in the root of your open project?

The readme has details on how they should work. The option to use a specified version of sass-lint has gone too in favour of it using just the global sass-lint you have installed or the version included with this package.

[2016-01-28 17:31] hellobrian commented on #24
Yes, `.sass-lint.yml` is located in the root of my project.

My project structure looks like this where each scss directory includes multiple sub-folders of scss files.
[code]

I'm reading through the [Settings section in README.md](https://github.com/AtomLinter/linter-sass-lint#settings). And it didn't seem like I needed to update my `~/.atom/config.cson` with any of the new settings.
I'd like to

[2016-01-28 17:43] DanPurdy commented on #24
Ok, so it's probably the fact that i managed to fix an issue with sass-lint itself recently. Can you post the files section of your `.sass-lint.yml` you'll probably find that your files aren't covered by the 'include' section. The include paths should be relative to your project. If it's not already try changing include to just '**/*.scss and check you're not ignoring any files inadvertently.

[2016-01-28 17:59] hellobrian commented on #24
Thanks for all the help, I tried changing include to `**/*.scss` and that worked.
Will update my files section accordingly :+1:

[2016-01-28 17:59] #24 closed

[2016-01-28 18:06] DanPurdy commented on #24
No problem, as i said probably my fault for not originally respecting these settings. All sorted now though :smile:

[2016-01-28 18:31] DanPurdy opened #25 "Custom config is being ignored if no config is present in root"
It seems the logic to check if a config exists is the wrong way around.

If a config file isn't present in your root and you have one specified in the settings, the config in your settings should be used instead before it is ignored completely

[2016-01-28 18:33] DanPurdy opened #26 "No config warning"
The no config warning flashes up very frequently if you choose not to disable sass-lint when no config is present. This should only show once per activation so a custom flag could be set in a users config on each load to make sure it doesn't appear on every lint cycle.

[2016-01-28 18:42] Arcanemagus commented on #25
Just curious, what's the `developer experience` tag for?

[2016-01-28 18:45] DanPurdy commented on #25
It's basically a user experience issue, users being developers :smile: it's not a critical flaw basically just a nicety i think.

[2016-01-28 18:46] Arcanemagus commented on #25
Ah ha, makes sense.

[2016-01-28 18:47] DanPurdy commented on #25
Though being a linter plugin you could probably argue that all bugs are of this nature!

[2016-02-01 09:18] Damon-E opened #27 "Atom freezes when removing character after 'dollar sign'"
e.x.    "@include breakpoint(**$tab2**)"

While backspacing from '2' to '$' it crashes when it reaches the '$'

[2016-02-01 09:49] DanPurdy commented on #27
That's really strange... I've managed to recreate it too it's only if you leave the $ on it's own in the brackets and if you dont have a semicolon following it!

I shall investigate, thanks for the report @Damon-E :+1:

[2016-02-06 00:10] jessejanderson opened #31 "Project .sass-lint.yml not being detected."
If I manually specify the file in Settings "Config File" path it works, otherwise I get errors that no config file is found.

[2016-02-06 00:15] DanPurdy commented on #31
Do you have it in the root of your project?

[2016-02-06 00:26] jessejanderson commented on #31
Yah.

`~/Code/Project/.sass-lint.yml`

[2016-02-06 01:09] DanPurdy commented on #31
That's odd then, would you mind giving me a printout of your project structure?

[2016-02-08 15:59] DanPurdy opened #33 "Update dependencies recently locked down"
`consistent-path` and `atom-package-deps` have had their versions locked down here to prevent tests failing before i have time to investigate. They will need to be updated to the latest versions again manually.

[2016-02-08 20:16] Arcanemagus commented on #33
`atom-package-deps@3.0.9` depends on a fixed version of the sub-dependency that was broken when v3.0.8 first came out.

[2016-02-08 20:18] Arcanemagus commented on #33
Looks like `consistent-path` was a similar issue, need to get deployment from CI working for those so things can't get out without a proper package :frowning:.

[2016-02-08 22:25] DanPurdy commented on #33
Thanks @Arcanemagus I'm looking into it. I cannot get the tests to pass locally at all and whenever you run them again on CI they fail. Im not entirely sure why the tests have become so flaky all of a sudden..

[2016-02-08 22:31] DanPurdy commented on #33
And then they pass again.. :/

[2016-02-08 22:53] Arcanemagus commented on #33
Not sure what was going on on your local install, the CI builds were probably due to the caching those services try to do.

[2016-02-08 23:17] DanPurdy commented on #33
I've updated #35 with some findings, it looks like the wrong path is getting set. The travis build for this also never passes.

[2016-02-09 09:10] contra opened #36 "Slow package activation"
![screen shot 2016-02-09 at 1 09 36 am](https://cloud.githubusercontent.com/assets/425716/12911820/e16efc74-cec9-11e5-9155-dfa9868b4549.png)

Consistently takes up to 1 second to initialize, causing the editor spin-up time to be sluggish.

[2016-02-09 09:28] DanPurdy commented on #36
Thanks @contra I'm planning on giving everything a bit of an overhaul in the next few weeks with a view to improving all the little areas i've neglected. Activation speed will definitely be one of them, though most of it is linked to sass-lint itself.

[2016-02-09 18:53] tohuw opened #37 "Fatal errors when linting Jekyll main.scss files"
For the "main.scss" file used in Jekyll, it must have front matter markings, e.g.:

    ---
    # Only the main Sass file needs front matter (the dashes are enough)
    ---

However, this causes the linter to fatally error. Understandable: it's not valid SCSS. Unavoidable: Jekyll demands that front matter for proper compilation.

Proposal: add a config option to skip parsing the first *x* lines? O

[2016-02-09 19:09] DanPurdy commented on #37
This is something that we'd have to handle in sass-lint itself I'm afraid, it wouldn't be realistic to have this plugin start manipulating what it sends to the linter.

More than likely we'd have to ask for the AST we use to accept this which I'm not sure would be feasible. It wouldn't hurt to make an issue with us over at [sass-lint](https://github.com/sasstools/sass-lint) though..

[2016-02-09 19:10] #37 closed

[2016-02-09 20:09] Arcanemagus commented on #36
@DanPurdy one major thing to consider here is that the time reported above is the initial activation time _while loading Atom and all other packages_. There is room for improvement for sure though.

Over in linter-php I had experimented with Atom's `activationHooks`, but there were several issues with the package never being activated in the first place! This has been fixed in v1.4.0, but the hack

[2016-02-09 21:00] DanPurdy commented on #36
Thanks, that would be ideal. I'll look into it again when i get some time soon. :smile:

[2016-02-11 00:48] jessejanderson commented on #31
Not sure what you're asking? It's a rails app with my .sass-lint.yml in the project root.

[2016-02-13 01:21] mdmoreau commented on #27
Just ran into this same issue when editing a media query mixin.  It crashes every time I enter a `$` anywhere inside the mixin definition.

[2016-02-13 09:19] DanPurdy commented on #27
So over at sass lint we're extremely close to our update to the newest version of the AST we use, I'm not entirely sure this is linked to that but it will certainly provide a more stable base from which to debug this a bit.

[2016-02-16 21:38] DanPurdy commented on #31
Sorry @jessejanderson, do you get any errors popping up about the config missing or is it just not linting anything?

[2016-02-16 21:40] DanPurdy commented on #31
Im not really sure how to get to the bottom of this im afraid, all of my tests are passing fine and I can't get a config not to be detected.. Do you use Winows/linux/osx?

[2016-02-16 22:16] DanPurdy commented on #25
This is actually invalid and not a bug at all. Turns out the included files glob was incorrect.

[2016-02-16 22:16] #25 closed

[2016-02-16 23:36] #26 closed

[2016-02-17 01:51] albertosramires opened #44 "Failed to activate the linter-sass-lint package"
**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [linter-sass-lint](https://github.com/AtomLinter/linter-sass-lint) package, v1.1.0

### Stack Trace

Failed to activate the linter-sass-lint package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-17 03:59] Arcanemagus commented on #44
Looks like Atom failed to install all the modules, can you try uninstalling and installing the package?

[2016-02-17 04:04] albertosramires commented on #44
@Arcanemagus Just did, same error.

[2016-02-17 04:48] Arcanemagus commented on #44
Wait a sec... the package it can't find hasn't been a dependency of `atom-package-deps` since version 3.0.7, which should be too old to be being loaded by Atom :confused:

Do you have Node.js installed? If so can you run `npm list` in the package directory?

[2016-02-17 13:52] C-Bouthoorn commented on #44
Same on Atom Beta. Happens after the last update, worked fine before.

**Atom Version**: 1.6.0-beta3
**System**: Ubuntu 15.10
**Thrown From**: [linter-sass-lint](https://github.com/AtomLinter/linter-sass-lint) package, v1.1.0

### Stack Trace

Failed to activate the linter-sass-lint package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

And as @Arcanemagus reque

[2016-02-17 14:02] DanPurdy commented on #44
I can't recreate this locally, any idea @steelbrain @Arcanemagus I'm assuming there's a conflict with one of the other linter-pacakges using an outdated version of this module or something..

[2016-02-17 14:11] steelbrain commented on #44
@DanPurdy That's a very weird error, It would be nice to have some repro steps

[2016-02-17 14:29] steelbrain commented on #44
The fun part is that `lib/main.js` doesn't even exist anymore

[2016-02-17 14:44] DanPurdy commented on #44
:confused:

[2016-02-17 16:42] C-Bouthoorn commented on #44
Another update: I removed sb-callsite to debug this problem, and then it was gone. I did restart Atom in the meantime, so maybe that fixed it?

[2016-02-17 17:39] Arcanemagus commented on #44
@steelbrain @DanPurdy as I stated earlier, `sb-callsite` hasn't been a dependency of `atom-package-deps` since v3.0.7, and this package depends on `^4.0.1`. I think this must be yet _another_ instance of Atom completely failing at dependency management and updating :frowning:.

[2016-02-26 11:12] warpcode opened #51 "Updating to “linter-sass-lint@1.1.1” failed"
Received the below error when trying to update. Trying to upgrade from 1.0.5

npm ERR! Darwin 15.3.0
npm ERR! argv "/Applications/Atom.app/Contents/Resources/app/apm/bin/node" "/Applications/Atom.app/Contents/Resources/app/apm/node_modules/npm/bin/npm-cli.js" "--globalconfig" "/Users/warpcode/.atom/.apm/.apmrc" "--userconfig" "/Users/warpcode/.atom/.apmrc" "install" "/private/var/folders/lh/j4l80y

[2016-02-26 11:14] DanPurdy commented on #51
Have you tried uninstalling an reinstalling. It's probably just atoms dependency management failing again..

[2016-02-26 11:16] warpcode commented on #51
Just tried and got pretty much the same error

Installing “linter-sass-lint@1.1.1” failed.Hide output…

npm ERR! Darwin 15.3.0
npm ERR! argv "/Applications/Atom.app/Contents/Resources/app/apm/bin/node" "/Applications/Atom.app/Contents/Resources/app/apm/node_modules/npm/bin/npm-cli.js" "--globalconfig" "/Users/warpcode/.atom/.apm/.apmrc" "--userconfig" "/Users/warpcode/.atom/.apmrc" "install" "/pri

[2016-02-26 12:11] DanPurdy commented on #51
Ok, same issue with sass-lint itself at moment.. Let me just look into it

[2016-02-26 12:22] DanPurdy commented on #51
Hi @warpcode I've mentioned in https://github.com/sasstools/sass-lint/issues/549

Basically lodash have unpublished a lot of previous versions from npm which a LOT of packages are relying on. Hopefully they sort it soon

https://github.com/lodash/lodash/issues/2059

[2016-02-26 12:42] warpcode commented on #51
Great. Thanks for the quick responses :)

[2016-02-26 13:02] DanPurdy commented on #51
Hi @warpcode try reinstalling again now. We hotifxed sass-lint to get around the issue.

[2016-02-26 13:44] DanPurdy commented on #51
Confirmed working here so i'll close this.

[2016-02-26 13:44] #51 closed

[2016-03-05 09:21] DanPurdy commented on #44
Going to close this as it looks like an apm issue and i've not been able to reproduce at all. Thanks everyone.

[2016-03-05 09:21] #44 closed

[2016-03-12 15:48] ypresto commented on #36
Also slow package loading time.

![image](https://cloud.githubusercontent.com/assets/400558/13723788/e639617e-e8b2-11e5-9696-22e1330cb8a6.png)
e

getPath() is very slow as it spawns child process.
So it should not be called on initialization.

https://github.com/AtomLinter/linter-sass-lint/blob/b6f7a8d44ae2a2734c0165a68c205ee619e1e776/lib/main.coffee#L7

[2016-03-13 11:50] DanPurdy commented on #36
Looks to be resolved in #55 which was release with version v1.2.0 thanks to @ypresto will close for now.

[2016-03-13 11:50] #36 closed

[2016-03-13 11:50] DanPurdy commented on #31
I'm going to close this as i really can't reproduce this issue. Feel free to open again if the issue persists.

[2016-03-13 11:50] #31 closed

[2016-03-26 11:21] nuflowx opened #61 "Warning about final-newline although present"
- Atom version: 1.5.4
- linter-sass-lint version: 1.2.0
- Global sass-lint version (if used):
- Platform:
  - [x ] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour: No issue as final new line is automatically set by atom (or manually)
- Actual behaviour / issue description: Warning about the missing new line

I am using the "SASS"-syntax. When using "SCSS"-syntax this error does not occur.

[2016-03-26 11:29] nuflowx commented on #61
In general it seems to me that the lint is not working well for the "SASS"-syntax. Maybe I am doing something wrong, but I am seeing a lot of warnings which I know are valid writing.

These just don't make sense to me: :confused:

![lint-warning-1](https://cloud.githubusercontent.com/assets/17532211/14059770/c97816be-f345-11e5-9960-175d512bd630.png)
![lint-warning-2](https://cloud.githubuserconten

[2016-03-26 11:30] DanPurdy commented on #61
You need to report this over at the sass-lint repo I'm afraid. It's not an issue with this linter plugin.

Issues [here](https://github.com/sasstools/sass-lint/issues)

And in general yes, there's a lot of inconsistencies with the current version of the AST that sass-lint uses.

[2016-03-26 11:30] #61 closed

[2016-03-26 11:32] nuflowx commented on #61
thanks for the quick response :+1: will do

[2016-03-26 15:55] DanPurdy commented on #33
closed with #50

[2016-03-26 15:55] #33 closed

[2016-04-08 16:26] DanPurdy opened #68 "test issue"

[2016-04-08 16:33] #68 closed

[2016-04-12 17:42] RichardSlater opened #70 "`Unexpected parse error in file` when using 'Tab' indentation"
- Atom version: 1.7.0-beta5
- linter-sass-lint version: 1.3.1
- Platform:
  - [X] OSX
  - [X] Windows
  - [X] Linux
- Expected behaviour: valid SCSS generates no warnings even when tabs used for indentation
- Actual behaviour / issue description: when using tab characters instead of space characters for indentation in SCSS files the underlying `sass-lint` package throws a parser error: `Unexpected

[2016-04-12 17:44] RichardSlater commented on #70
Update on one from Dan Purdy on one of those linked issues:

[2016-04-12 18:12] DanPurdy commented on #70
I'm going to close this because it's an issue with sass-lint itself and there's already open issues over there that describe the problem. Thanks

[2016-04-12 18:12] #70 closed

[2016-04-12 18:31] RichardSlater commented on #70
Thanks @DanPurdy, it's possibly a lack of clarity of my part as to how npm and Atom handle npm dependencies, does ^1.5.0 mean that 1.6 will be used when it is released?

Will that mean everyone will need to call `Update Package Dependencies: Update` to get the 1.6 update of the underlying sass-lint package or will it be offered as a pending update in the bottom right hand corner?

[2016-04-12 18:57] Arcanemagus commented on #70
That does mean that 1.6 would be installed for new users (or people re-installing) on release, or if that command is called.

[2016-04-12 21:48] DanPurdy commented on #70
@RichardSlater Dont worry, APM dependencies are a bit of a crazy thing anyway. So yeah If you reinstall this plugin once sass-lint 1.6 is out then it'll give you that latest version with the current version range specified in the package.json as @Arcanemagus mentioned. My plan though is once 1.6 is out I will bump the version in the package anyway to give people an easy path to update as im sure m

[2016-04-29 11:21] cristian-sima opened #80 "Tool to indent"
This tool is doing a great job when it comes to checking the order of properties.

Is there any way to order these properties alphabetically?

It may be a very nice feature

[2016-04-29 11:31] DanPurdy commented on #80
Hi there @cristian-sima

This plugin is just an interface to our sass-lint project [see here](https://github.com/sasstools/sass-lint)

Have a look over at that repository as it explains how to set all of your options and rules up correctly and to your liking. If you haven't configured a config file yourself for your project yet then you will currently be using the default rules that sass-lint ship

[2016-04-29 11:31] #80 closed

[2016-04-29 11:33] DanPurdy commented on #80
Oh and also the property sort order documentation is here https://github.com/sasstools/sass-lint/blob/develop/docs/rules/property-sort-order.md

[2016-05-06 12:55] cortopy opened #84 "Problem with BASH"
### Issue checklist
- Atom version: 1.7.3
- linter-sass-lint version: 1.4.2
- Global sass-lint version (if used): 0.48.0
- Platform:
  - [ ] OSX
  - [ ] Windows
  - [x ] Linux
- Expected behaviour:
Work without errors
- Actual behaviour / issue description:

When saving or opening a scss file I get the following error. Oddly, this doesn't happen with sass files:

[code]

The scss-lint command tool

[2016-05-06 12:59] DanPurdy commented on #84
I think you've got `sass-lint` and `scss-lint` confused here.

linter-sass-lint is for `sass-lint` which is an all node linter [here](https://github.com/sasstools/sass-lint)
linter-scss-lint is for `scss-lint` which is a Ruby based linter [here](https://github.com/brigade/scss-lint)

So i would assume you're trying to point the linter-sass-lint global option towards the global ruby version here wh

[2016-05-06 14:09] cortopy commented on #84
@DanPurdy That certainly helps. I was just setting Atom up in a new computer and I got them mixed up.

[2016-05-06 14:09] #84 closed

[2016-05-06 23:36] DanPurdy commented on #84
No problem 👍

[2016-05-13 23:26] tohuw opened #90 "Attempting to Include Files with Multiple .Exts Causes Error"
I tried the following in my `sass-lint.yml`:

    include:
      - '**/*.s+(a|c)ss'
      - '**/*.s+(a|c)ss.liquid'

The goal is to include files ending in `.sass`, `.scss`, or either with the additional extension `.liquid`.

This works for the first two cases, but any file ending in `.liquid` causes sass-lint to throw:
    Cannot read property 'toString' of undefined

- Atom version: 1.7.3
- lint

[2016-05-14 00:34] DanPurdy commented on #90
This is currently a combination of a few things firstly SassLint reads the file extension and passes it through to the AST which in this case would be `.liquid` the AST we use then doesn't know how to interpret this so it throws this error.

I'll have a look at what I can do but this isn't an issue with this plugin as it's just a bridge between atom linter and SassLint itself. I'll leave this open

[2016-05-14 00:37] tohuw commented on #90
I can't get sass-lint itself to work on my system for some reason, or I'd have tested it to see if it replicates there. If you can confirm it's upstream, I'm happy to report it there. I'll wait until your investigation as it undoubtedly will yield more fruit than my blind spelunking might.

[2016-05-14 00:42] DanPurdy commented on #90
It's ok, I'm one of the core developers for sass-lint too so i'll have a poke around again. It is actually something that could be sorted in this plugin on second thoughts.

This line is the issue https://github.com/AtomLinter/linter-sass-lint/blob/master/lib/main.coffee#L139 it's just blindly sending the extension through without checking for a matching `sass` or `scss` format.

Should be an easy

[2016-05-14 18:37] DanPurdy commented on #90
My next question is how are you even getting these files noticed by linter-sass-lint?

By default it's only looking at the following grammars '.scss', '.sass', '.css.scss', '.css.sass' I've never used the liquid shopify stuff so i'm not sure what steps you've taken here. For me it wont even attempt to lint the files.

[2016-05-14 20:15] #90 closed

[2016-05-14 20:17] DanPurdy commented on #90
@tohuw This should be sorted in linter-sass-lint v1.5.0. Let me know if you have any problems with it.

[2016-06-11 21:20] ghost opened #98 "Atom freezes."
- Atom version: 1.8.0
- linter-sass-lint version: 1.5.0
- Global sass-lint version (if used):
- Platform:
  - [ ] OSX
  - [X] Windows
  - [ ] Linux
- Expected behaviour: keep working
- Actual behaviour / issue description: I created a file _keyframe.scss with this code:

[code]

after trying do add a dollar sing inside the parenthesis the IDE just freeze.

[2016-06-12 18:13] DanPurdy commented on #98
This is almost identical to this issue #27

[2016-06-12 20:53] DanPurdy commented on #98
This was also related to this issue https://github.com/tonyganch/gonzales-pe/issues/189 in the AST that sass-lint uses. Not much we can do until that gets fixed I'm afraid.

[2016-06-12 20:59] DanPurdy commented on #27
Ok so this is actually fixed now but I'll re open #98 as it's still relevant for keyframes until they're fixed in gonzales-pe the AST sass-lint uses.

[2016-06-12 20:59] #27 closed

[2016-06-15 09:03] DirtyHairy opened #99 "Add an option for resolving paths relative to configuration file instead of project root"
We are working on a large project where the directory containing the sass sources and the `.sass-lint.yml` config reside in a subfolder in the project workspace. In this setup, the linter fails to pickup the sass sources because the path globs in the config are evaluated relative to the project root. It would be nice to have an option to resolve the paths relative to the config file instead (as is

[2016-06-15 09:08] DirtyHairy commented on #99
See #100

[2016-06-16 20:14] DanPurdy commented on #99
closed via #101

[2016-06-16 20:14] #99 closed

[2016-06-22 16:36] canda opened #105 "cannot read property 'toString' of undefined"
- Atom version:1.7.3
- linter-sass-lint version:1.6.1
- Global sass-lint version (if used):
- Platform:
  - [ ] OSX
  - [ ] Windows
  - [X] Linux: Ubuntu 14.04
- Expected behaviour:Lint
- Actual behaviour / issue description:Not linting
I paste a simple css rule like
[code]
And I get "cannot read property 'toString' of undefined"
When I delete everything I get "Cannot find module './node/empty-nod

[2016-06-22 16:40] DanPurdy commented on #105
Have you tried uninstalling and reinstalling. This is working fine for me. Also are you using the global sass-lint option or not?

[2016-06-23 09:33] yalishizhude opened #106 "Rule "function-name-format" doesn't work~"
- Atom version: 1.7.2
- linter-sass-lint version: 1.6.1
- Global sass-lint version (if used):
- Platform:
  - [ ] Windows
- Expected behaviour: camelcase function name should be allowed.
- Actual behaviour / issue description: the info shows:Function xxx should be written in lowercase with hyphens.

.sass-lint.yml
[code]

.scss file
[code]

sass-lint info
`function-name-format Function 'tomCat' sh

[2016-06-23 09:35] DanPurdy commented on #106
Hi @yalishizhude you need to report this with https://github.com/sasstools/sass-lint as this plugin only consumes it.

At first look though you might want to try validating your config with http://www.yamllint.com/ as it doesn't look valid.

[2016-06-23 09:35] #106 closed

[2016-06-23 09:52] yalishizhude commented on #106
Thanks a lot~

[2016-06-24 02:46] jackmcpickle commented on #105
Ok had the same issue - after I updated a rule. About an hour of mucking around with configs and reinstalling - to no avail.

But solution came by looking in the dev tools console. `cmd + opt + i` to open OSX. A rule must have changed name of something.

Your answer lays there.

[2016-06-24 11:57] DanPurdy commented on #105
Can you post the error here maybe and your config file.

[2016-06-30 14:30] DanPurdy commented on #105
Closing due to lack of information. This also looks like a sass-lint issue rather than linter-sass-lint.

[2016-06-30 14:30] #105 closed

[2016-06-30 23:51] jackmcpickle commented on #105
Agreed. Unless you want to handle invalid config keys and display a better message?

In my case I was using the key `no-color-keyword: 1` which should be `no-color-keywords: 1`
this was causing the error.

[2016-07-01 00:46] DanPurdy commented on #105
I'd rather handle it in sass-lint itself, this plugin doesn't actually care about any of the functionality of sass-lint it just consumes sass-lint.

[2016-07-01 02:58] andrewmartin opened #108 "Disable option not preventing sass-lint from linting files"
I'm working on a project where I need `sass-lint` to be disabled because the team is using `stylelint` instead. I'm having trouble getting it to disable. There is no `.sass-lint.yml` set in my project root.
- Atom version: 1.8.0
- linter-sass-lint version: 1.6.1
- Global sass-lint version (if used): N/A
- Platform:
  - [ X ] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour:

Flagging the che

[2016-07-01 08:59] DanPurdy commented on #108
Thanks for the report, it's odd but I'll look into it!

[2016-07-13 23:26] chrisdrackett opened #113 "add support for reading sasslintConfig from package.json"
sass-lint lets you add a link to your `yml` config in `package.json` (https://github.com/sasstools/sass-lint#configuring). It would be great if `linter-sass-lint` could look here when looking for the config file.

[2016-07-14 20:10] DanPurdy commented on #113
Hi @chrisdrackett yeah that's a bit of an oversight on my part to be honest. Although i'm currently changing a few things with how the config file is loaded in sass-lint itself and the formats that can be used so i may hold off on this until that is done. 👍

[2016-07-19 16:16] mikeerickson opened #121 "Not sure what is wrong here..."
I am regularly receiving the following error.

http://d.pr/i/191UW

As you can see by screenshot, the rule indeed exists in my `sass-lint.yml` file

[2016-07-19 16:21] DanPurdy commented on #121
Hi @mikeerickson That rule doesn't exist in `Sass-lint`. So you need to remove it from your config. You might be looking at the wrong linter rules here? A list of all valid `Sass-lint` rules can be found at https://github.com/sasstools/sass-lint/tree/develop/docs/rules.

I'll close this but feel free to reply if you need any help.

[2016-07-19 16:21] #121 closed

[2016-07-19 16:48] mikeerickson commented on #121
@DanPurdy Hey Dan, thanks for quick reply.  Is there an opinionated `sass-lint.yml` you start with?  May as well use something from creator to get started with.

[2016-07-20 10:19] DanPurdy commented on #121
@mikeerickson no problem, by default sass-lint uses an internal config file which has all of the available rules in. Most are set to warnings and others are just turned off but it's a starting point at least. You can find it here https://github.com/sasstools/sass-lint/blob/develop/lib/config/sass-lint.yml

[2016-07-29 11:29] fzzr- opened #124 "Uncaught Error: Line number (5) greater than maximum line (4)"
[Enter steps to reproduce below:]
1. open/create new document `.xml`
2. save it with content:

[code]

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [linter-sass-lint](https://github.com/AtomLinter/linter-sass-lint) package, v1.6.1
### Stack Trace

Uncaught Error: Line number (5) greater than maximum line (4)

[code]
### Commands

[code]
### Config

[code]
### Installed Pac

[2016-07-29 11:53] DanPurdy commented on #124
I can't recreate this in Atom 1.8 but funnily enough I had the same error earlier on with linter-eslint.

Does this consistently happen for you or was it just a one off?

[2016-07-29 15:51] fzzr- commented on #124
It happens couple of times.

[2016-07-29 21:25] mikeerickson commented on #121
@DanPurdy

Hey Dan

Back to visiting this issue and I am not sure what to do about my situation.

If I call `sass-lint` from CLI as follows, it returns some 7 warnings (as expect)

[code]

However, if I call it as

[code]

then no issues are shown (guess that makes sense)

====

Now, comes to `atom/linter-sass-lint`

I cant get it to throw any errors (or warnings) which matches the second operatio

[2016-07-29 21:36] mikeerickson commented on #121
@DanPurdy

I _believe_ I have tracked down the issue.  I have a `.sass-lint.yml` file in my project.  With that file included, it seems to cause linter to show no errors (or warnings)

please find attached my `.sass-lint.yml` file.  What could be throwing the plugin for a loop? I am assuming it has something to do with the `include` items

[code]

[2016-07-29 21:38] mikeerickson commented on #121
@DanPurdy And in case you need it, here is my tree structure

[code]

If I rename the `__.sass-lint.yml` file to `.sass-lint.yml` it effectively breaks the linting process :-)

[2016-07-29 21:40] mikeerickson commented on #121
@DanPurdy OK, I am done bugging you for the day

I went ahead and removed my `include` entry in the `.sass-lint.yml` file and now things are working.  I am assuming that this will just read ALL sass files (which is not really an issue per se) so I guess I can just leave it like this.

[2016-08-05 17:31] aft3rlife commented on #70
I'm still getting this with the latest version of linter-sass-lint (1.7.0) using sass-lint 1.8.0.

I'm using the Sass syntax with spaces if that makes any difference.

[2016-08-05 17:37] DanPurdy commented on #70
@aft3rlife please post this in the sass-lint repo itself with as much info as possible.. This plugin doesn't deal with these issues

[2016-08-10 08:24] bensleveritt opened #130 "Option to use locally installed sass-lint"
Not hit any major issues yet, but it would be nice to have an option to use the locally installed `sass-lint`, to ensure I have the same linter as my team and CI system.

This would be similar to how [`linter-eslint` works](https://github.com/AtomLinter/linter-eslint#use-with-plugins).

[2016-08-16 00:36] mikeerickson opened #135 "Error on `sass` import"
I am receiving an error when using .sass files (not .scss) and calling @import.  As you can see by the included screenshot, it is throwing a fatal error.

When using the `sass-lint` CLI, the following is required (see the -f option set as sass)

`$ sass-lint \"../ci-components/app/components/gmail-addin/*.sass\" -f sass -q -v`

- Atom version:   1.9.8
- linter-sass-lint version:  1.7.0
- Global sa

[2016-08-18 10:29] DanPurdy commented on #135
This is a problem with the AST that sass-lint uses `Gonzales-pe` https://github.com/tonyganch/gonzales-pe you'll need to report the issue there, it looks like it's due to the lack of quotes around the import

[2016-08-18 10:29] #135 closed

[2016-09-21 11:22] TolgaND commented on #31
Having the exact same problem here. I am using Max OS X and atom can't find .sass-lint.yml
![screen shot 2016-09-21 at 13 21 35](https://cloud.githubusercontent.com/assets/7658320/18709063/6fbcf98c-7ffe-11e6-9f46-5f5b61e1c2dc.png)

[2016-09-23 10:43] youpiwaza opened #148 "Config file not actually updating config"
Hi there,

Not sure if this is a bug or not but adding and editing a .sass-lint.yml file at the root of the project doesn't seem to change anything.

The plugin actually detects it (I got a warning if there is no such file) but it doesn't take in account any modifications. I've tried to set
NameFormat > convention > camel_case
// NameFormat > enabled > false
NestingDepth > max_depth > 7

Tried to

[2016-10-11 03:18] siberianbear commented on #31
Same issue for me.

[2016-10-12 15:17] controversial opened #158 "Hanging with from block"
- Atom version: 1.10.2
- linter-sass-lint version: 1.7.1
- Global sass-lint version (if used): `which sass-lint` does report something but I'm not sure how to check the version.
- Platform:
  - [x] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour: `liner-sass-lint` lints my `.sass` file
- Actual behaviour / issue description:
  When typing `from` in a `@keyframes` block using the tab-indente

[2016-10-12 21:03] Arcanemagus commented on #158
If you save the file in the state that hangs Atom, and then run `sass-lint` on it from the CLI, does it take an inordinately long amount of time as well?

[2016-10-12 22:07] DanPurdy commented on #158
I'm going to go ahead and assume it's the AST we use getting itself into an infinite loop. Let me check it when I'm home and I'll let you know..

[2016-10-12 22:20] controversial commented on #158
Ok, thanks @DanPurdy. Keep us posted.

[2016-11-03 11:27] bjornwang commented on #31
Same issue here. Mac OS X.

[2016-11-21 07:59] quicoto opened #163 "Specify folder inside the project for config file"
Hello,

Is there any way for us to set a relative path for the sass-lint config file inside the project?

**Example**: instead of having  the file in the roof, I might want to have all my configuration in /config/sass-lint.yml

Is there a way to set this path /config/ so the plugin looks there too instead of the root folder only?

Thank you

---
- Atom version: 1.12.4
- linter-sass-lint version: 1

[2016-12-16 18:07] mikemurray commented on #98
Can this issue be resolved now as tonyganch/gonzales-pe#189 seems to have been closed for a while now?

[2017-01-11 23:44] nmfzone commented on #31
+1 Same issue here. Mac OS X El Capitan. Atom version 1.13.0.

[2017-01-24 09:45] piotrkulpinski commented on #31
I think you guys should be using this one: https://atom.io/packages/linter-scss-lint

[2017-02-02 00:58] albell commented on #148
+1. Confirming on MacOS. Local config in the root straight-up doesn't work. Linting from the CLI does. The user always seems to get the default. I can share my project if that's helpful.

[2017-02-02 01:02] albell commented on #108
Confirmed still happening on 1.13.1 on MacOS.

I have taken the config out of the project completely, checked the "Disable when no sass-lint config file is found in your project root" checkbox in settings, restarted Atom, and I'm still getting linting errors when I open a `.scss` file.

[2017-02-04 21:22] abumalick opened #165 "lint css files"
Hello,
Is it possible to lint css files with this plugin ?
Thanks

[2017-02-14 15:14] pascalhuynh commented on #31
Same issue here. Mac OS X with Atom 1.14.1

[2017-02-24 23:03] fluxsauce commented on #113
This would be lovely, as we're using a centralized sass-lint configuration across multiple projects. Thank you!

[2017-02-24 23:28] atomboyd commented on #113
Yes please! 👍

[2017-02-28 11:54] pedromsduarte commented on #31
Same issue here. OS 10.11.6 Atom 1.14.4

[2017-03-01 14:21] emvidi commented on #98
Hi I am having the same issue, but I thought is because of the exclamation mark inside the mixin. The dollar sign was used used as well but it freezes as soon as I type the exclamation mark.
I am on Ubuntu 16.04 Atom 1.14.4.

[2017-03-04 05:44] DanielTamkin commented on #148
+1. Confirming on Windows 10. Local config in the root doesn't work, CLI linting just as @albell.

[2017-03-10 19:56] patriciarealini opened #168 "atom package not linting when file paths in .sass-lint.yml include `./`"
at the top of our .sass-lint.yml file we reference a couple files. when the references are written as follows, linter-sass-lint isn't working in atom.

[code]

however when the references are listed without the `./` at the beginning of each file route, the linter works.

[code]

i would like to recommend that this requirement  be documented.

- Atom version: 1.15.0 x64
- linter-sass-lint version:

[2017-03-10 22:46] DanPurdy commented on #168
Hi there,

The config file is part of Sass-lint itself, it wont be documented in this repo as this package purely interfaces it.

If you don't think the docs for this [here](https://github.com/sasstools/sass-lint#files) are enough then I would suggest opening a issue on the main Sass-lint repo or even opening a pull request with your suggestion.

Thanks.

[2017-03-10 22:46] #168 closed

[2017-03-10 22:47] DanPurdy commented on #165
Technically the AST that Sass-lint uses supports css but Sass-lint itself isn't designed to lint pure css files.

[2017-03-10 22:47] #165 closed

[2017-03-10 22:53] DanPurdy commented on #163
You can specify a config file to directly reference already, but there's a bug I intend to finish fixing soon where your project isn't searched for a config file which would fix this automatically for you.

You can see #108 for the initial bug report and #116 for the fix i need to finish.

[2017-03-10 22:53] #163 closed

[2017-03-10 22:55] DanPurdy commented on #148
Sorry, I've not had the time to look into this. It's probably linked to the issue reported in #108 and i've started fixing in #116

Will update this when I can.

[2017-03-10 22:58] DanPurdy commented on #98
@emvidi can you paste the exact piece of code in it's smallest form that makes this fail still thanks.

[2017-03-11 00:26] DanPurdy commented on #124
Still haven't recreated in the months ive been using this linter.

[2017-03-11 00:26] #124 closed

[2017-03-12 09:05] emvidi commented on #98
@DanPurdy  I don't remember the exact code now, but as soon as this happen again I will paste the code here.

[2017-03-17 14:52] jhobz commented on #98
I have a freezing issue when trying to change
[code]
to

[code]
to appease the `space-between-parens` rule I have enabled. Almost immediately after inserting the space (but only *before* the number, not after), the editor locks up. It also locks up if I add the space via another editor and then open it in Atom. I have confirmed it is a problem with this package by disabling it and not experiencing

[2017-03-17 15:26] DanPurdy commented on #98
@jhobz the sass-lint disabled comments are enacted AFTER the AST has parsed the file. There's no way around this unfortunately as we need to have parsed the file to know that those comments even exist. Your best bet is to open an issue with [Gonzales-Pe](https://github.com/tonyganch/gonzales-pe) or contribute to that repo as I will not be able to fix these issues in the atom plugin or sass-lint.

[2017-04-06 16:51] whaaaley opened #169 "path with config fallback - enhancement"
I share an Atom config between two computers with different usernames.

I have my default path set this which won't work on my shared config:
`Users/username/config/.sass-lint.yml`

I would love to be able to do something like this:
`~/config/.sass-lint.yml`

and even better yet simply this:
`~/config`

But it doesn't appear to work. Maybe this is an actually an issue with the `sass-lint` package?

[2017-04-25 08:42] miralize commented on #113
Would be a great addition. We have a sass-lint config in our internal npm build package, being able to access that would be very useful

[2017-04-26 12:38] followalter opened #171 "PropertySortOrder disabled is ignored"
- Atom version: 1.16.0
- linter-sass-lint version: 1.7.4
- Global sass-lint version (if used):
- Platform:
  - [V] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour: Ignore PropertySortOrder
- Actual behaviour / issue description:
I have this in my .sass-lint.yml file:
  PropertySortOrder:
    enabled: false

But I still get these warnings:
Warning	sass-lint	property-sort-order Expected `colo

[2017-04-26 16:09] Arcanemagus commented on #171
Does `sass-lint` show the expected results from the CLI?

[2017-04-28 09:33] #171 closed

[2017-05-18 09:18] JockVanDallas commented on #148
This is still a thing, changing sass-lint.yml config file does not change the way the linting is done. It will take all the presets.
Using:
OSX
 atom 1.17.0
 linter 2.1.4
 linter-sass-lint 1.7.4

[2017-05-18 17:03] macgyver opened #172 "Uncaught Error: ENOENT: no such file or directory, uv_chdir"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.17.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.4
**Thrown From**: [linter-sass-lint](https://github.com/AtomLinter/linter-sass-lint) package 1.7.4

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, uv_chdir

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-18 23:19] Arcanemagus commented on #172
This is actually caused by the deprecated [jshint](https://atom.io/packages/jshint) package. You should uninstall that and either install [linter-jshint](https://atom.io/packages/linter-jshint) or preferably for your sake move to a modern linter like ESLint ([linter-eslint](https://atom.io/packages/linter-eslint)).

[2017-05-18 23:19] #172 closed

[2017-05-19 10:28] odyright commented on #31
Same issue here. OS 10.12.4 Atom 1.17.0

[2017-05-19 10:45] odyright commented on #31
i solved it, solution:
![capture d ecran 2017-05-19 a 10 41 52](https://cloud.githubusercontent.com/assets/4316506/26244684/4ace30de-3c80-11e7-8c93-f8ee131d2ea5.png)

[2017-05-22 11:20] igloosi opened #173 "Atom lint not respecting project .sass-lint file"
Whole git repo add as a project to Atom.
Sass lint config is in root/config folder
Setting in package is config/.sass-lin.yaml

- Atom version:
- linter-sass-lint version:
- Global sass-lint version (if used):
- Platform:
  -  OSX
- Expected behaviour:
Editor lint should use this config.
- Actual behaviour / issue description:
Editor lint uses some other, unknown lint file.

Note: gulp-sass-lint C

[2017-05-31 04:49] k-utsumi commented on #31
In my case, it worked after unchecking `Use global sass-lint installation`.
![settings](https://cloud.githubusercontent.com/assets/13148112/26616191/b8333116-4607-11e7-9fb7-6420d288fd74.png)

[2017-06-02 19:13] greenkeeper[bot] opened #174 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/AtomLinter/linter-sass-lint/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin

[2017-06-09 15:58] Arcanemagus commented on #174
`eslint-plugin-import@2.4.0` was pulled from NPM due to a regression, closing.

[2017-06-09 15:58] #174 closed

[2017-06-27 03:57] MajorTom250993 opened #177 "[Linter] Error running scss-lint"
# Issue Description

Version: linter-scss-lint 3.1.0
![captura de pantalla 2017-06-26 a la s 22 50 35](https://user-images.githubusercontent.com/21065249/27570244-488fd8d0-5ac2-11e7-877a-3b5ca03d75ca.png)

I don't know what to do.

[2017-07-06 07:51] richarddewit commented on #177
That's a whole different package:

    Yours: linter-s**c**ss-lint
    This:  linter-s**a**ss-lint

Also

Read the error popup..

[2017-07-18 06:11] dennis-best commented on #173
This may not be your problem, but I had some commented text at the top of my .sass-lint.yml. **I removed the comments, and everything worked.**  Oddly, the file worked fine in Sublime (SublimeLinter), but not in Atom.

[2017-07-19 22:30] dennis-best commented on #173
This solved my problem. Turns out, when I ran my sass-lint.yml file through a validator (http://www.yamllint.com/) it said this was NOT valid:
[code]
This, on the other hand, IS valid:
[code]
This fixed my problems in Atom.

[2017-07-19 23:25] Arcanemagus commented on #177
Closing, if you are still having problems @MajorTom250993 please file that on the [right repo](https://github.com/AtomLinter/linter-scss-lint/issues).

[2017-07-19 23:25] #177 closed

[2017-09-04 22:34] DanPurdy commented on #158
Long time ago but I believe this is fixed in the latest versions of gonzales-pe and consequently sass-lint

[code]

not crashing and definitely not falling over.

[2017-09-04 22:34] #158 closed

[2017-09-04 22:43] DanPurdy commented on #98
Both of the above issues are now confirmed fixed as sass-lint has recently moved up to using the recently released v4.2.2 of gonzales-pe. LOTS of fatal parsing errors have been handled in this update but please do keep reporting any more you come across.

[2017-09-04 22:43] #98 closed

[2017-09-08 08:55] #108 closed

[2017-09-14 00:18] brainbrian opened #184 "Background URL linting crashing editor"
## Crashing when configuring background image urls
When adding `background: url()` or `background-image: url()` it crashes atom.

- Atom version: 1.20.0 x64
- linter-sass-lint version: 1.7.6
- Global sass-lint version (if used): 1.10.2
- Platform: OSX 10.12.6
- Expected behaviour: Lints file correctly and allows user to complete the background url declaration.
- Actual behaviour / issue descriptio

[2017-09-14 16:56] Arcanemagus commented on #184
Does `sass-lint` freeze when running on that file in the CLI? That's a somewhat old version of `sass-lint` and I believe @DanPurdy said that several infinite loop issues were fixed in the parser upgrade in `sass-lint` v1.11.0.

[2017-09-14 17:02] DanPurdy commented on #184
Seems you might of found a new one though @brainbrian I've opened an issue and we'll look into it there https://github.com/tonyganch/gonzales-pe/issues/282.

WIll close this issue as it's AST related not the atom plugin.

Thanks!

[2017-09-14 17:02] #184 closed

[2017-09-18 14:43] DanPurdy commented on #148
Sorry for the delay this should be fixed now in v1.8.0 of linter-sass-lint. I've tried with the examples provided to me. If this continues to be an issue please create a new issue with a sample of your config file and a basic project structure to allow me to debug this a little further. Thanks!

[2017-09-18 14:43] #148 closed

[2017-09-18 14:45] DanPurdy commented on #173
This should be fixed in v1.8.0 of linter-sass-lint. If you still have issues let me know. I tried with the valid source provided above and all seemed fine.

[2017-09-18 14:45] #173 closed

[2017-09-18 19:22] leon-yum opened #185 "PropertySortOrder can't be disabled"
## New Issue information
I have the latest sass-lint installed and the linster-sass-lint package installed in atom.

In my **.sass-lint.yml** file I changed it to the following:

[code]

![screen shot 2017-09-18 at 2 20 23 pm](https://user-images.githubusercontent.com/30158970/30560170-a59596c2-9c7c-11e7-9477-c4f00b224eb4.png)

- Atom version: 1.20
- linter-sass-lint version: 1.8
- Global sass-lin

[2017-09-18 20:00] DanPurdy commented on #185
I think you're getting the projects confused here. It looks like you're using a `scss-lint` configuration and you mention you have `scss-lint` installed. That is a ruby based linter for scss only. This package is for `sass-lint` which is a node based linter for `Sass` and `scss`. Either way that configuration is invalid for `sass-lint`.

[2017-09-18 20:00] #185 closed

[2017-09-20 16:46] lemnis opened #186 "Crash when using quotes with the url() function"
- Atom version: 1.20.1
- linter-sass-lint version: 1.8.0
- Global sass-lint version (if used): 1.11.1
- Platform:
  - [x] OSX
  - [ ] Windows
  - [ ] Linux

Also tested VS code v1.16.1 with Sass lint 0.0.4, and that worked as expected.

The window crashes when I try to add quotes to the `url()` function, I am trying to type:

[code]

I didn't add my .sass-lint.yml, because it looks like the bug do

[2017-09-25 22:57] DanPurdy commented on #186
Hi there, unfortunately this is a parser error in the gonzales-pe library. I added an issue https://github.com/tonyganch/gonzales-pe/issues/282 if you'd like to follow along. There's a fix ready to be released I believe that we will push into sass-lint and then this linter plugin as soon as is possible.

The sass-lint disable comments will have no effect unfortunately as they are post the file par

[2017-10-03 03:45] gorriecoe commented on #186
Hey @lemnis, I have a temporary solution.   Just add this to  your snippets.cson.  It seems to parse fine with quotes added.
[code]

[2017-10-07 06:24] evolutionmedia opened #190 "Atom crashes with "url()" property"
- Atom version: 1.21.0-beta0 / 1.22.0-beta0
- linter-sass-lint version: 1.8.2 / and previous
- Global sass-lint version (if used): 1.10.0 - 1.12.0
- Platform:
  - \[x] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour: keep working
- Actual behaviour / issue description: Atom freezes and crashes when I type brackets right after `url` property:
[code]
![ezgif-4-0eee357cbe](https://user-images.

[2017-10-07 06:28] evolutionmedia commented on #190
This issue already exists – #186

[2017-10-07 06:28] #190 closed

[2017-10-07 06:30] evolutionmedia commented on #186
It's not really quotes, but brackets causing the issue. See GIFs here #190

[2017-10-12 12:14] in-in commented on #186
Any workaround for sass syntax?
It ruins my Atom so badly even if I copy/paste this `background-image: url()`

[2017-10-12 13:23] lemnis commented on #186
@in-in A small modification to @gorriecoe proposed workaround would work

[code]

Just make sure to press enter before typing a parenthesis

[2017-10-12 13:27] DanPurdy commented on #186
Hi everyone just an update that the issue is fixed in the AST upstream now, looking to getting it released in the next day or two so you'll be able to drop these workarounds, sorry for that!

[2017-10-13 21:50] maxlapides opened #191 "Support .sasslintrc"
It would be great if this plugin would support `.sasslintrc` files as well as `.sass-lint.yml` since sass-lint now supports this format as well. Thanks for supporting this awesome plugin!

[2017-10-17 07:48] DanPurdy commented on #186
This should be fixed now as we've made a fork of the AST and released that with the fixes temporarily to sass-lint which in turn meant i could update this plugin. Please let me know if it's not fixed.

[2017-10-17 07:48] #186 closed

[2017-10-17 12:17] DanPurdy commented on #191
I started this today just need to throw some tests together and validate it a bit and all should be good. Hopefully will have the time to finish it this week.

[2017-10-17 17:04] maxlapides commented on #191
Thanks @DanPurdy!!!

[2017-10-25 13:11] fullfs opened #194 "Atom freezes on class-name-format option"
- Atom version: 1.20.1
- linter-sass-lint version: 1.8.3
- Platform: Linux

`class-name-format` in the listed below format cases Atom to freeze on file opening and saving.

.sass-lint.yml content
[code]

scss file content
[code]

removing `class-name-format` option solves the freezing

[2017-10-25 13:17] DanPurdy commented on #194
This will be a problem in [sass-lint](https://github.com/sasstools/sass-lint) itself. Would you mind opening this issue there?

[2017-10-25 13:29] fullfs commented on #194
@DanPurdy
Okay, thanks.

P.S. https://github.com/sasstools/sass-lint/issues/1154

[2017-10-25 13:29] DanPurdy commented on #194
Awesome thank you

[2017-10-26 02:39] lemnis opened #195 "Atom freezes when typing hex value inside map inside function"
- Atom version: 1.21.1
- linter-sass-lint version: 1.8.3
- Platform:
  - OSX

When I try to type `$test: foo((bar: #0EF));` atom freezes after I typed the hashtag. It seems that this behavior only occurs when using a map as argument of a function.

[2017-11-02 17:41] leon-yum opened #196 "What is the command to run this in the terminal?"
Expected this to work

`npm run scss-lint'

[2017-11-02 17:48] leon-yum commented on #196
Figured it out
`"test-scsslint": "./node_modules/.bin/sass-lint 'client/styles/**/*.scss' -v -q",`

[2017-11-02 17:48] #196 closed

[2017-11-02 19:44] Arcanemagus commented on #196
A couple of things here:
* The [CLI](https://github.com/sasstools/sass-lint#cli) section of the `sass-lint` README would have explained this for you, this is the `linter-sass-lint` repo which is a wrapper around that 😉.
* You can just use `sass-lint ....` in your `scripts`. `npm` will automatically use the project local bin for you.

[2017-11-02 23:23] DanPurdy commented on #196
You're also mixing up scss-lint and sass-lint there, be careful as they're 2 different packages

[2017-11-03 23:39] rossman15 commented on #191
This would be awesome! Thanks @DanPurdy

[2017-11-09 11:20] andrewcaulfield opened #197 "Warning with valid Hyphenated BEM"
- Atom version: 1.22.0
- linter-sass-lint version: 1.8.3
- Global sass-lint version (if used):
- Platform:
  - [x] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour:

The below should be valid hyphenated BEM

[code]
- Actual behaviour / issue description:

[code]

Getting the warning below
class-name-format: Class '.site-search__field' should be written in lowercase with hyphens

[2017-11-09 11:46] #197 closed

[2017-12-06 19:13] Twintails commented on #130
.sass-lint.yml included in the project root folder works for me. I believe it was recently fixed as there was another bug report on it which has been closed #173

Though it was using the `sass-lint.yml` in my project to lint `.scss` files while simultaneously using the builtin `.scss-lint.yml` so I was getting double reports until I swiched my yml file to the scss-lint style.

very odd behavior, b

[2017-12-09 14:05] 52hpnp3 opened #198 "Config File Error The config file you specified doesn't seem to be a .yml file."
- Atom version: 1.22.1 x64
- linter-sass-lint version: 1.8.3
- Global sass-lint version (if used):
- Platform:
  - [ ] OSX
  - [X] Windows
  - [ ] Linux
- Expected behaviour: No error message
- Actual behaviour / issue description:
When running sass-lint with a scss-file, it shows me all errors and hints to improve my sass-syntax, but I constantly get the message "Config File Error The config file

[2018-01-12 16:08] noudadrichem commented on #168
Hahaha, what an easy fix. @patriciarealini thanks!

[2018-02-02 15:58] anthonator commented on #191
Did this ever make it in?

[2018-02-19 00:02] mrleblanc101 commented on #31
Same problem.
Used @odyright solution.
Atom 1.24.0
macOS 10.13.4

[2018-02-27 23:55] Arcanemagus opened #199 "Migrate CircleCI to a 2.0 configuration"
CircleCI will be [removing support for 1.0](https://circleci.com/blog/sunsetting-1-0/) configurations as of 2018-08-31. This is one of the repositories within this organization that is currently still configured to use a 1.0 configuration and needs to be migrated to the 2.0 format.

An automated translation can be found [here](https://circleci.com/api/v1.1/project/github/AtomLinter/linter-sass-lin

[2018-04-26 13:29] greenkeeper[bot] opened #201 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/AtomLinter/linter-sass-lint/compare/master...AtomLinter:greenkeeper%2Fupdate-to-node-10">ope

[2018-06-24 18:32] greenkeeper[bot] opened #205 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.13.0** of **[eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/AtomLinter/linter-sass-lint/compare/master...AtomLinter:greenkeeper%2Feslint-plugin-import-2.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Depen

[2018-07-12 17:17] flurdulis commented on #177
I have the same issue. I went ahead and opened Toggle Developer Tools. The console states this error:

**[Linter] Error running scss-lint Error: Failed to spawn command `scss-lint`. Make sure `scss-lint` is installed and on your PATH.**

I have installed linter-scss-lint via Atom. How suddenly it is not in my path? And how to fix it?

Thanks,
Elle

[2018-07-12 18:43] flurdulis commented on #177
Okay, the global install of scss_lint ruby gem fixed the issue of not finding the path.

[2018-07-15 05:22] michaelkolber opened #206 "Pressing "Enter" or "Tab" to select a highlighted auto-predict suggestion causes a new line or tab to be inserted instead"
- Atom version: 1.28.2 x64
- linter-sass-lint version: 1.8.3
- Global sass-lint version (if used):
- Platform:
  - [ ] OSX
  - [x] Windows
  - [ ] Linux
- Expected behaviour: When pressing "Enter" or "Tab" to select a highlighted auto-predict suggestion in a css **value** (not a property) in a .scss or .sass file, the selected auto-predict suggestion is inserted followed by a semi-colon. This is s

[2018-08-28 03:00] #199 closed

[2018-09-05 15:14] robhuska commented on #206
I too have this issue. Apparently it happens with other Linters as well. https://github.com/steelbrain/linter/issues/1590#issue-355516706

[2018-09-05 15:35] robhuska commented on #206
My apologies, I realize now that this is an extention for Linter... Thought Linter is disabled in my packages but this extension is not. So I am not sure if the Linter is even working now... Either way Linting and Autocomplete are clashing.

[2018-09-11 22:42] CASandmann commented on #165
I don't understand.  CSS is a subset of Sass, isn't it?  When I change the configuration of the yml file to include *.css files as well (`files: include: 'app/**/*.?(s)@(a|c)ss'`) and I run `sass-lint`, I get the errors outputted to my console.  I don't see any errors in any css files in atom with this plugin, and that leads to a very poor user experience.

[2018-11-17 21:20] stevieoberg opened #208 "Uncaught Error: Cannot find module 'sb-callsite'"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.32.2 x64
**Electron**: 2.0.9
**OS**: Mac OS X 10.14.1
**Thrown From**: [linter-sass-lint](https://github.com/AtomLinter/linter-sass-lint) package 1.8.3

### Stack Trace

Uncaught Error: Cannot find module 'sb-callsite'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-01-13 07:17] scottbert opened #210 "linter-sass-lint not working with linter 2.3.0"
---

- Atom version: 1.34.0
- linter version 2.3.0
- linter-sass-lint version: 1.8.3
- Global sass-lint version (if used):
- Platform:
  - [ x] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour: linting
- Actual behaviour / issue description: no linting

https://github.com/steelbrain/linter/issues/1606 - seems the legacy API has been removed from linter, which breaks a lot of linters includin

[2019-01-14 17:52] Arcanemagus commented on #210
In the [v2.3.0 release](https://github.com/steelbrain/linter/releases/tag/v2.3.0) of `linter` support for the v1 API was removed, breaking semver. This means that this provider is no longer supported by the current version of `linter`.

To get this provider working again it will need to be upgrade to the v2 API, a guide for accomplishing that can be found here: [Upgrading to Standard Linter v2](ht

[2019-01-20 08:59] #210 closed

[2019-02-06 20:44] #201 closed

[2019-02-06 20:44] #205 closed

[2019-03-26 08:00] CuriousCactus opened #222 "Unexpected parse error in file when using class-name-format in .sass-lint.yml"
- Atom version: 1.35.1
- linter-sass-lint version: 1.9.0
- Global sass-lint version (if used): 1.12.0
- Platform:
  - 10.13.6 (17G5019) OSX
- Expected behaviour:
Including this in .sass-lint.yml should hide errors related to class-name-format:
[code]
- Actual behaviour / issue description:

'Error	sass-lint	Unexpected parse error in file	1:1'

Possibly due to https://github.com/sasstools/sass-lint

[2019-03-26 11:00] CuriousCactus commented on #222
On reflection I think this was a specific issue with my .sass-lint.yml (I used `class-name-format` twice).

[2019-03-26 11:00] #222 closed

[2020-04-02 07:04] scottlet opened #252 "Cannot read property 'first' of null"
---

- Atom version: 1.45.0 x64
- linter-sass-lint version: 1.9.0
- Global sass-lint version (if used): none
- Platform:
  - [x] OSX
  - [ ] Windows
  - [ ] Linux
- Expected behaviour: Linting
- Actual behaviour / issue description:
Linter fails to parse sass file.

This seems related to css variables. I've created a minimal test case that reproduces the error:

[code]
Gives the error:
[code]

[2020-06-20 06:39] #169 closed

[2020-10-11 21:42] r-burkhardt commented on #252
I am getting this some issue whenever I attempt to use a css var (--shared-height: 300px), it's for sure a linter issue. A solution to this has been elusive, if you found a way to solve there could you post what you did?

[code]

[2021-02-18 09:00] aramwram commented on #252
Has anybody found a workaround for this issue?

[2021-02-18 09:18] scottlet commented on #252
I think I just removed the extension then reinstalled it and it worked, but I don't recall 100%. Now, though, I'd recommend ditching `sass-lint` as it's unmaintained and the last update was in October 2017 (also the last release of this plugin was 2019) and moving to something else. I use <a href=https://github.com/stylelint/stylelint>Stylelint</a>

[2021-02-18 09:26] aramwram commented on #252
@scottbert , thanks bro. I think I'm gonna try stylelint.

[2021-10-18 17:58] renovate opened #265 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits and start over, click on a checkbox.

 - [ ] [chore(deps): update dependency eslint-config-airbnb-base to v14